DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
NEXTAUTH_SECRET="generate-with-node-crypto-randomBytes"
NEXTAUTH_URL="http://localhost:3000"
RABBITMQ_URL="amqps://USER:PASSWORD@HOST/VHOST"
GROQ_API_KEY=""
